/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply scroll-smooth box-border;
  }

  /*Common Tailwind CSS Start Here*/

  .Container {
    @apply w-full sm:w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px] 2xl:w-[1320px] px-2 md:px-3 lg:px-0 mx-auto;
  }

  /* Progress bar wrapper */
  .progress-bar-rect-wrap-container {
    @apply relative z-[999] flex gap-[50px];
  }

  /* Progress text */
  .rect-progress-bar-percent {
    @apply !m-0 leading-[10px] !text-HeadingColor-0 font-Outfit;
  }

  /* Filter button active */
  .button-group button.active {
    @apply text-white;
  }

  /* Odometer font */
  .odometer.odometer-auto-theme,
  .odometer.odometer-theme-default {
    @apply !font-Outfit leading-inherit;
  }

  /* Custom Filter Color */
  .filter-custom {
    @apply invert hue-rotate-[91deg] sepia-[71%] saturate-[394%] brightness-[94%] contrast-[84%];
  }
}

@layer base {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #182f24;
  }

  ::-webkit-scrollbar-thumb {
    background: #41c575;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #34a763;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #41c575 #182f24;
  }
}
